[Unit]
Description=Prune Backups created by 'borgbackup'
{% if borgbackup_systemd_onfailure_unit is defined %}
OnFailure={{ borgbackup_systemd_onfailure_unit }}
{% endif %}

[Service]
User={{ borgbackup_user }}
ExecStart={{ borgbackup_executable }} \
  prune {{ borgbackup_prune_opts }} \
  --keep-daily {{ borgbackup_keep_daily }} \
  --keep-weekly {{ borgbackup_keep_weekly }} \
  --keep-monthly {{ borgbackup_keep_monthly }} \
  --keep-yearly {{ borgbackup_keep_yearly }}
EnvironmentFile={{ borgbackup_home }}/config/environment
Type=oneshot
{% if borgbackup_use_cap_dac_read_search %}
AmbientCapabilities=CAP_DAC_READ_SEARCH
{% endif %}
ProtectSystem=full
PrivateTmp=true
PrivateDevices=true
